@charset "UTF-8";

body {
	font-family: Montserrat;
}

@media (max-width: 911px) {
	p {
		font-size: 14px;
	}
}

.primary-color {
	color: #E64A19;
}

.accent-color {
	color: #FFA000;
}

.black-color {
	color: #040404;
}

.white-color {
	color: #FDFDFD;
}

.navbar-principal {
	background-color: #E64A19;
}


/* user-show */

.user-show-label {
	font-weight: bold;
}

/* error pages */
.error-page-principal-message {
	font-weight: bold;
}

/* button */
.button-navigation {
	color: #FDFDFD;
    background-color: #E64A19;
    border-color: #E64A19;
}

.button-navigation:hover {
	color: white;
    background-color: #E64A19;
    border-color: #E64A19;
}

/* header */
.header-navbar-logo {
	font-size: 1.5rem;
	margin: 0;
	text-decoration: none;
}

.header-navbar-logo:hover {
	color: #FDFDFD;
	cursor: pointer
}

@media (max-width: 911px) {
	.header-navbar-logo {
		font-size: 1rem;
	}
}

@media (min-width: 912px) {
	.header-navbar-logo {
		font-size: 1.5rem;
	}
}

.navbar-button-connection {
	border-color: #FDFDFD;
	margin-right: 30px;
}
.navbar-button-connection:hover {
	border-color: black;
}

.navbar-button-connection-icon {
	display: block;
    margin-right: 10px;
}
